:plain
  ---
  layout: post 
  title: Static Webpages
  ---

:markdown
  The main limitation of static webpages is that you can't give different webpages to different people. But for many situations, such as a blog, this is perfectly okay. And the advantages are numerous:

  * Fast page loads - you can't beat serving static files.
  * Low server requirements - pretty much any system will do.
  * No database - and therefore no security worries.
  * No CMS - low learning curve and no heart-stopping moments of "The site is down!" (unless your server crashes).
  * Easy to work with - just knowing html and css can make a beautiful site. With Jekyll, writing posts only involves knowing markdown, so anyone can do it.

  Reading about advantages/disadvantages of static websites online will have you believe that all of them are unholy messes of unmaintainable orphaned .html files. But a good system like Jekyll can take care of everything that a CMS might.

  ## Posts About Static Webpages

%ul
  {% for post in site.posts %}
  {% for tag in post.tags %}
  {% if tag == 'static webpages' %}
  %li
    {{ post.date | date_to_string }} &raquo;
    %a{href: "{{ post.url }}"} {{ post.title }}
  {% endif %}
  {% endfor %}
  {% endfor %}
