<!DOCTYPE html>
<html>
  <head>
    <title>{{ page.title }}</title>
    <meta charset='utf-8'>
    <meta content='IE=edge,chrome=1' http-equiv='X-UA-Compatible'>
    <meta content='width=device-width' name='viewport'>
    <link href='/stylesheets/css/main.css' rel='stylesheet' type='text/css'>
    <link href='/stylesheets/css/syntax.css' rel='stylesheet' type='text/css'>
    <link href='/favicon.ico' rel='shortcut icon'>
    <link href='/feed.xml' rel='alternate' type='application/rss+xml'>
    <link href='http://fonts.googleapis.com/css?family=Alegreya+Sans:300' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Qwigley' rel='stylesheet' type='text/css'>
  </head>
  <body>
    <div class='site'>
      <div class='header'>
        <a href='/'>
          <img class='header-icon' src='/p-fuzz.png'>
        </a>
        <h2 class='title'>
          <a href='/'>{{ site.name }}</a>
        </h2>
        <a class='extra' href='/about/'>about</a>
        <a class='extra' href='/archives/'>archives</a>
        <a class='extra' href='/projects/'>projects</a>
      </div>
      {{ content }}
      <div class='footer'>
        <div class='contact'>
          <p>
            Peter Massey-Plantinga
            <br>
            Web Developer Extraordanaire
          </p>
        </div>
        <div class='contact'>
          <p>
            <a href='https://github.com/pplantinga'>github.com/pplantinga</a>
            <br>
            <a href='http://web.cse.ohio-state.edu/~planting/'>Professional website</a>
          </p>
        </div>
        <div class='contact'>
          <p>
            <a href='/feed.xml'>RSS feed</a>
          </p>
        </div>
      </div>
    </div>
  </body>
</html>
